.todoform-group {
  margin: 0; }

.todoform-group > .todoform-input,
.todoform-group > .todoform-textarea {
  font-size: 1rem;
  color: rgba(52, 67, 159, 0.85);
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  transition: none; }
  .todoform-group > .todoform-input:focus,
  .todoform-group > .todoform-textarea:focus {
    border: none;
    box-shadow: none; }
  .todoform-group > .todoform-input:-moz-placeholder,
  .todoform-group > .todoform-textarea:-moz-placeholder {
    color: rgba(52, 67, 159, 0.7); }
  .todoform-group > .todoform-input::-moz-placeholder,
  .todoform-group > .todoform-textarea::-moz-placeholder {
    color: rgba(52, 67, 159, 0.7); }
  .todoform-group > .todoform-input::-webkit-input-placeholder,
  .todoform-group > .todoform-textarea::-webkit-input-placeholder {
    color: rgba(52, 67, 159, 0.7); }
  .todoform-group > .todoform-input:-ms-input-placeholder,
  .todoform-group > .todoform-textarea:-ms-input-placeholder {
    color: rgba(52, 67, 159, 0.7); }

.todoform-group > .todoform-textarea {
  margin: 0.75rem 0 0;
  resize: none; }

.todoform-button {
  display: block;
  margin: 1.125rem 0 0.625rem;
  text-align: right; }
  .todoform-button .btn-todoform {
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: none;
    color: #FFFFFF;
    background: #F24D67;
    border: 0.0625rem solid #F24D67;
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3125rem;
    box-shadow: 0 0.1875rem #BF1435, -0.3125rem 0.4375rem rgba(0, 0, 0, 0.15);
    transition: all .1s ease-in-out; }
    .todoform-button .btn-todoform:focus, .todoform-button .btn-todoform:hover, .todoform-button .btn-todoform:active, .todoform-button .btn-todoform:active:focus {
      color: #FFFFFF;
      background: #F24D67;
      border-color: #F24D67; }
    .todoform-button .btn-todoform:focus, .todoform-button .btn-todoform:hover {
      transform: translateY(-0.1875rem);
      border-color: #BF1435;
      box-shadow: 0 0.3125rem #BF1435, -0.3125rem 0.5625rem rgba(0, 0, 0, 0.15); }
    .todoform-button .btn-todoform:active {
      box-shadow: 0 0.125rem #BF1435; }
