.AddTask {
  display: flex;
  flex-direction: column;
  width: 100%;

  .Row {
    margin-top: 10px;
  }

  .Input {
    margin-right: 30px;
    width: 420px;
  }

  .Button {
    display: flex;
    justify-content: center;
  }
}