@import '../../../scss/vars.scss';
.Item {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  background-color: $yellow;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 3rem 1rem 3rem;
  color: $darkgreen;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &:hover {
    background-color: lighten( $yellow, 15%);
    cursor: pointer
  }
  &_Selected {
    @extend .Item;
    background-color: $red;
    color: $yellow;
    &:hover {
      background-color: $red;
    }
  }
  @media only screen and (max-width: 450px) {
    padding: 1rem 0.3rem;
  }
}

.Text {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  padding: 0 10px 0 0;
  margin: 0
}

.Desc {
  font-size: 0.7rem;
  padding: 0 10px 0 0;
  text-transform: lowercase;
  word-break: break-all;
  @media only screen and (max-width: 450px) {
    font-size: 0.6rem;
  }
}

.HR {
  display: none;
  @media only screen and (max-width: 1024px) {
    border-color: $yellow;
    display: block;
  }
}