.Home-component__ver-b-main {
  text-align: center;
  font: 1em/1.5 Georgia, serif;
  color: #333;
  padding: 5em 0 0; }
  .Home-component__ver-b-main h2 {
    font-family: Bitter, Georgia, serif;
    font-style: italic;
    font-size: 2.25em;
    padding: 0 1em;
    margin-top: 0 !important; }
  .Home-component__ver-b-main a {
    text-decoration: none; }
  .Home-component__ver-b-main img {
    max-width: 100%;
    height: auto; }
  .Home-component__ver-b-main .avatar {
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    width: 200px;
    height: 200px; }
  .Home-component__ver-b-main section {
    padding: 10px; }


.Home-component__ver-a-particles {
    width: 100%;
    margin-top: 10px;
}

.Home-component__ver-a-box {
    position: absolute;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
    width: 600px;
    height: 800px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
    box-radius: .5em;
}