/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#root {
  background-color:black;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.alertContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alertContainer .alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addTaskContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh
}

.sortFilterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh
}

.taskListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh
}