// colors
$primaryColor: #0052cc;

// typography
$primaryFontColor: #091e42;
$invertFontColor: #ffffff;

$font-size: 15px;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
  Droid Sans, Helvetica Neue, sans-serif;

// sizing
$unit: 4px;
@function spacing($multiplier) {
  @return $unit * $multiplier;
}

// shadows
$shadows: (
  "small":
    unquote(
      "0 0 1px rgba(9, 30, 66, 0.31),0 4px 8px -2px rgba(9, 30, 66, 0.25)"
    ),
  "medium":
    unquote(
      "0 0 1px rgba(9, 30, 66, 0.31),0 8px 12px -4px rgba(9, 30, 66, 0.25)"
    ),
  "large":
    unquote(
      "0 0 1px rgba(9, 30, 66, 0.31),0 20px 32px -8px rgba(9, 30, 66, 0.25)"
    ),
);

// accents
$accents: #ffbdad, #ffebe6, #fff0b3, #fffae6, #abf5d1, #e3fcef, #b3f5ff, #e6fcff,
  #b3d4ff, #deebff, #c0b6f2, #eae6ff;

@function randomAccent($elements) {
  @return nth($elements, random(length($elements)));
}

// positions
$zindex: (
  "drawer": 10,
  "popup": 100,
);

// transitions
$durations: (
  "instant": 0ms,
  "shortest": 150ms,
  "shorter": 200ms,
  "short": 250ms,
  "standard": 300ms,
  "complex": 375ms,
  "enteringScreen": 225ms,
  "leavingScreen": 195ms,
  "leaveWaiting": 195ms + 10ms,
);
