{
  "plugins": [
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$",
          "scss$"
        ]
      }
    ]
  ],
  "presets": [
    "next/babel",
    "es2015"
  ],
  "ignore": []
}
