{
  "env": {
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[name]__[hash:3]",
            "extensions": [".scss"]
          }
        ],
        "transform-runtime",
        "transform-async-to-generator"
      ]
    }
  },
  "presets": ["env", "react", "stage-0"]
}
