{
  "extends": ["travix", "prettier"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "import/prefer-default-export": 0
  }
}
