{
  "extends": [
    "airbnb",
    "plugin:react/all",
    "plugin:redux-saga/recommended",
    "plugin:reselect/all"
  ],
  "env": {
    "jest": true,
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react",
    "redux-saga",
    "reselect"
  ],
  "rules": {
    "semi": [2, "never"],
    "arrow-body-style": ["error", "as-needed"],
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/named": 2,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/label-has-for": [2, {
      "required": {
        "some": [ "nesting" ]
      }
    }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  }
}
