# dependency directories
node_modules/

# build
dist/

# temporary files
*~

#*
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



# misc
.DS_Store
npm-debug.log*