section {
  display: flex;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 320px) {
  .add-button {
    position: fixed !important;
    bottom: 20px;
    left: -webkit-calc(50% - 28px);
    left: -moz-calc(50% - 28px);
    left: calc(50% - 28px);
    z-index: 10000; }
  section {
    flex-direction: column; }
  .alltasks {
    margin-bottom: 50px; }
  div.MuiPaper-root-4 {
    padding-top: 10px; }
  body {
    background-color: grey; }
  .Incomplete, .Completed {
    width: 80vw; }
  .Incomplete {
    margin-top: 20px; }
  .Completed {
    margin-bottom: 20px;
    margin-top: 20px; }
  h2 {
    margin: 0; }
  .sc-bdVaJa {
    display: flex;
    justify-content: center;
    align-items: center; }
  div.MuiDrawer-paperAnchorBottom-65 {
    min-height: 60vh;
    padding: 20px;
    background: -moz-linear-gradient(45deg, #99daff 0%, teal 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #99daff), color-stop(100%, teal));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #99daff 0%, teal 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #99daff 0%, teal 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #99daff 0%, teal 100%);
    /* ie10+ */
    background: linear-gradient(45deg, #99daff 0%, teal 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF',GradientType=1 );
    /* ie6-9 */ }
  button.mark-button {
    margin-bottom: 20px;
    margin-top: 20px; }
  button.save-button {
    margin-bottom: 70px; } }

@media only screen and (min-width: 768px) {
  section {
    flex-direction: row;
    align-items: flex-start; }
  .Incomplete, .Completed {
    width: 40vw; }
  .Incomplete {
    margin-right: 20px; } }
