@import 'src/styles/base/container.scss';

.task-content-inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding-left: $padding-small;
}

.task-content-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
}
