.todoList {
  background: #fff;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.todoRow {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 1.5em 16px 1.5em;
  position: relative;
}

.todoRow:last-of-type {
  border-bottom: 0;
}

.todoRow.completed {
  color: #ccc;
  text-decoration: line-through;
}

.todoRow h1 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

.todoRow .actions {
  text-align: right;
}

.todoRow .actions svg {
  cursor: pointer;
}
