@import '../../scss/base/variables.scss';
@import '../../scss/mixins/mixins.scss';

.todoList {
    padding: 20px;
    border-bottom: 1px solid $border__color;
    background-color: $back__list;

    form {
        padding: 20px 0px;
    }
}