@import "../../styles/theme.scss";

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s;
}

.status {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 5;

  .title {
    font-size: 1.2rem;
    margin: 1rem 0 .5rem 0;
  }

  .desc {
    margin: 0;
    color: $color-secondary-text;
  }
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done {
  opacity: 0.5;
}
