$break-mobile: "only screen and (min-width: 320px)";
$break-tablet: "only screen and (min-width: 768px)";
$mid-screen: 50%;
$button-width: 28px;

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none !important;
}

@media #{$break-mobile} {
  .add-button{
    position: fixed !important;
    bottom: 20px;
    left: -webkit-calc(#{$mid-screen} - #{$button-width});
    left:    -moz-calc(#{$mid-screen} - #{$button-width});
    left:         calc(#{$mid-screen} - #{$button-width});
    z-index: 10000;
  }

  section{
    flex-direction: column;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

  .alltasks{
    margin-bottom: 50px;
  }

  div.MuiPaper-root-4{
    padding-top: 15px;
  }

  body{
    background-color: grey;
  }

  .Incomplete, .Completed {
    width: 80vw;
  }

  .Incomplete{
    margin-top:70px;
  }

  .Completed{
    margin-bottom: 20px;
    margin-top:70px;
  }

  h2{
    margin: 0;
  }

  .sc-bdVaJa {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiPaper-root-38.MuiPaper-elevation16-56.MuiDrawer-paper-114.MuiDrawer-paperAnchorBottom-118{
    min-height: 55vh;
    padding: 20px;
    background: -moz-linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF',GradientType=1 ); /* ie6-9 */
  }

  button.mark-button{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  button.save-button{
    margin-bottom: 70px;
  }

  div.MuiDialog-paperScrollPaper-64 {
    padding: 20px;
  }

  div.MuiDrawer-paper-75{
    padding: 20px;
  }

  .button-container{
    display: flex;
    justify-content: center;
  }

  .button-container button {
    width: 250px;
  }

  button.delete-yes, button.delete-no {
    width: 170px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 150px;
    position: relative;
  }

  button.reverse-button {
    position: absolute;
    top: 20px;
  }
}

@media #{$break-tablet} {
  section{
    flex-direction: row;
    align-items: flex-start;
  }

  .flex-reverse {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .Incomplete, .Completed {
    width: 40vw;
  }

  .Incomplete{
    margin-right: 20px;
  }

  div.MuiDrawer-paper-75{
    padding: 50px;
  }

  button.save-button {
    margin-bottom: 60px;
  }
}
