.todo-app {
    .todo-feed-container {
        .todo-feed {
            .todo-feed-col {
                .pagination-btn {
                    margin-bottom: 30px;
                    width: 100%;
              
                    button {
                      width: 50%;
                    }
                }
            }
        }
    }
}