<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit<h3>
    <button type="button" class="close" ng-click="cancel()">
          <span aria-hidden="true">&times;</span>
  	</button>
 </div>

<div class="modal-body" id="modal-body">
	<div class="modal-page-wrap">
        <form class="form" name="modal.editTaskForm" novalidate>
          <div class="form-group">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Title</label>
              <input name="title" ng-model="modal_data.title" ng-disabled="modal.disabled" required>
            </md-input-container>
          </div>
          <div>
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea name="description" md-select-on-focus ng-model="modal_data.description" ng-disabled="modal.disabled" required></textarea>
            </md-input-container>
          </div>
          <div ng-show="modal.editTaskForm.$touched || modal.editTaskForm.$submitted">
            <p class="font-red" ng-show="modal.editTaskForm.title.$invalid && modal.editTaskForm.description.$invalid">
            Please complete the fields.
            </p>
            <p class="font-red" ng-show="modal.editTaskForm.title.$error.required && !modal.editTaskForm.description.$error.required">
              Please fill in the title.
            </p>
            <p class="font-red" ng-show="!modal.editTaskForm.title.$error.required && modal.editTaskForm.description.$error.required">
            Please fill in the description.
            </p>
          </div>
          <div ng-show="errorEdit">
            <p class="font-red">{{errorEdit}}</p>
          </div>
          <div class="float-right">
          	<button class="btn bgc-third-color" ng-click="cancel()">Cancel</button>
           	<button class="btn bgc-first-color" ng-click="modal.updateTask(modal_data)" ng-disabled="">Edit</button>
          </div>
          <div class="clear"></div>
        </form>
	</div>

</div>