@import "theme.scss";

.tasks-list {
  padding: spacing(4) spacing(4) spacing(22) spacing(4);
  margin: 0;
  list-style: none;

  &__item {
    margin-bottom: spacing(4);
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: spacing(4);
  background: linear-gradient(to top, rgba(9, 30, 66, 0.16), rgba(0, 0, 0, 0));

  display: flex;
  align-items: center;
  justify-content: space-around;
}
