// app colors
$box-shadow: 0 15px 20px -10px #595d6d;
$background-color: #3e8ef5;
$font-color: #ffffff;

// app fonts
$font-family: sans-serif;


// header
$header-height: 70px;
$header-font-size: 34px;
$header-background: #ffffff;
$header-font-color: #333333;

// footer
$footer-height: 30px;
$footer-font-size: 12px;
