.task-title-input {
  background-color: transparent;
  border: 0;
  color: #000;
  flex: 1;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap; }
