.task-creator {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex: 1;
  margin: 20px;
  padding: 20px 10px;
  position: relative; }
  @media only screen and (min-width: 481px) {
    .task-creator {
      border-radius: 0;
      width: 100%; } }
  @media only screen and (min-width: 961px) {
    .task-creator {
      border-radius: 5px;
      width: 50%; } }
