$color-primary: #F9BF3B;
$color-primary-light: #FFCF4B;
$color-primary-dark: #F9B32F;
$color-white: #ECF0F1;
$color-blue-dark : #2c3e50;
$color-green-very-dark: #010701;
$color-grey: #95a5a6;
$color-red: #e74c3c;
$breakpoint: 900px
