@font-face {
  font-family: Etelka-Light;
  src: url("/static/fonts/Etelka-Light-Pro.otf") format("opentype"); }

@font-face {
  font-family: Etelka-Medium;
  src: url("/static/fonts/Etelka-Medium-Pro.otf") format("opentype"); }

@font-face {
  font-family: Etelka-Text-Pro;
  src: url("/static/fonts/Etelka-Text-Pro.otf") format("opentype"); }

@font-face {
  font-family: Etelka-Text-Pro-B;
  src: url("/static/fonts/Etelka-Text-Pro-Bold.otf") format("opentype"); }

@font-face {
  font-family: ITCHandel;
  src: url("/static/fonts/ITC-Handel-Gothic-Arabic.otf") format("opentype"); }

@font-face {
  font-family: ITCHandel-Medium;
  src: url("/static/fonts/ITC-Handel-Gothic-Arabic-Medium.otf") format("opentype"); }

body {
  margin: 0; }
  body div.home_page {
    background: #212121;
    background: #ffe600;
    background: -moz-linear-gradient(45deg, #ffe600 0%, #ffb700 100%);
    background: -webkit-linear-gradient(45deg, #ffe600 0%, #ffb700 100%);
    background: linear-gradient(45deg, #ffe600 0%, #ffb700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$second',GradientType=1 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    body div.home_page a, body div.home_page button {
      flex: 1;
      margin: 0 50px;
      background: #b90000;
      padding: 20px;
      float: left;
      max-height: 150px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      text-decoration: none;
      line-height: 150px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: yellow;
      border-radius: 20px; }
