@font-face {
  font-family: 'Linotte-SemiBold';
  src: url('fonts/Linotte-SemiBold-webfont.woff2') format('woff2'),
       url('fonts/Linotte-SemiBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
