$body-color: #818181;
$link-color: #5a6878;
$link-hover-color: #0087d2;

$font-family-sans-serif: 'Muli', sans-serif;
$headings-font-family: 'Linotte-SemiBold', sans-serif;

$border-width: 2px;
$alert-border-width: 0;
$card-border-width: 0;

$navbar-light-color: $link-color;
$navbar-light-active-color: $link-color;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-toggler-border-color: transparent;


$brand-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
