@import 'reset';
@import '../../node_modules/travix-ui-kit/dist/theme.css';
@import '../../node_modules/travix-ui-kit/dist/ui-bundle.css';

.todo-app {
  max-width: 500px;
  margin: auto;

  &__title-input {
    background: black;
  }

  &__title-description {
    padding-block-start: 0%;
  }
}
