$alignCenter: center;
$inputWidth: 30rem;

.todo-item {
  text-align: $alignCenter;
  white-space: nowrap;
  overflow: hidden !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-list {
  text-align: $alignCenter;
}

.editable-input {
  width: $inputWidth;
}
.division-group {
  display: flex;
  flex-direction: column;
  justify-content: $alignCenter;
  align-items: $alignCenter;
}

.responsive-style {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: $inputWidth + 4rem;
}

.label-input-group {
  display: flex;
  width: $inputWidth + 5rem;
  align-items: $alignCenter;
  justify-content: space-between;
}

.todo-list {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

.header-style {
  margin-bottom: 3rem;
  @extend .empty-list;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: $alignCenter;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
}

.form-csontrol {
  visibility: hidden;
}
