.toast{
    width: 58vw;
    left: 20vw;
    position: absolute;
    bottom: 50vh;
    height: 10vh;
    border: solid 0.5px;
    box-shadow: 2px 13px 13px 7px black;
    .toast-msg{
        text-align: center;
        position: relative;
        top: 20%;
        color: white;
    }
}
.toast-success{
    background-color: #2a8c51;
    animation:toast-show 3s
}

.toast-failure{
    background-color: #d81f1f;
    animation:toast-show 3s 
}
@keyframes toast-show {
   from{opacity:0}
   to{opacity: 1;}
}
.close-toast{
    animation-delay: 2s;
    animation:close-toast 3s
}
@keyframes close-toast{
    from {bottom: 50vh;}
    to{bottom: 100vh;}
}