.todo-page{
    position: absolute;
    text-align: center;
    width: 80vw;
    top: 5vh;
    left: 11vw;
}
input[type=text]{
    border-radius: 5px;
    margin:2px;
    border: solid 0.5px;
    padding: 5px;
    font-weight: bold;
}

textarea{
    border-radius: 5px;
    margin:2px;
    border-color: white;
    border: solid 0.5px;
    padding: 5px;
    font-weight: bold;
}

input[type=checkbox]:checked{
    background-color: #2196F3;
}

button{
    border-radius: 5px;
    margin:2px;
    border-color: white;
    border: solid 0.5px;
    cursor:pointer;
    font-weight: bold;
}

.red-btn{
    background-color: #da7c7c 
}

.green-btn{
    background-color: #78d8bd   
}

.blue-btn{
    background-color: #6bb4ff
}

.todo-list{
    height:calc(calc(100vh - 10vh) - 40px);
    overflow-y:auto;
}

.todo-item{
    display:flex;
    cursor: pointer;
    border: solid 0.5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 4px 10px 15px;
    .details{
        .title{
            font-weight: bold;
            padding: 2px;
            font-size: 193%;
        }
        .desc{
            font-style:italic;
        }
    }
    .action{
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }
}


.checkbox{
    border: solid 1px;
    height: 10px;
    width: 10px;
}

.checkbox-checked{
    border: solid 1px;
    height: 10px;
    width: 10px;
    background-color: #6bb4ff
}

.todo-heading{
    font-weight: bold;
}

.no-records{
    font-style: italic;
    color:#696161
}