.modal{
    position: absolute;
    height: 30vh;
    width: 58vw;
    top: 4vh;
    left: 12vw;
    box-shadow: 7px 12px 100px 0px black;
    text-align: center;
    background: white;
}
.todo-item-modal{
    padding: 2vh;
}
input[type=text]{
    max-width:100%;
}
textarea{
    max-width: 100%;
}