@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
// Font Names

$font-family-Roboto: 'Roboto';

// Font Sizes
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2.1rem;
$font-size-xxlarge: 2.4rem;


// Font-Weight
$bold : 500;
$bolder : 700;

// letter spacing
$letter-spacing-normal: 0.03rem;
$letter-spacing-header: 0.05rem;

// Colors
$black: #161616;
$white: #FFFFFF;
$denim: #103177;
$platinum: #D4D5D6;
$gunMetal: #1F2532;
$atomic: #d2cfe0;
$ashGray: #969AA3;
$aliceBlue: #EBF4FF;
$midNightBlue: #191D76;
$lightGray: #F4F5F6;
$mordantRed: #F52908;
$parisGreen: #60D156;
$carrotOrange: #FF8800;
$azure: #0060FF;
$transperent : red;
