button {
  padding: 0;
  margin: 0;
  background: 0 0;
  border: 0;
  outline: transparent;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }
  button:focus {
    outline: none; }

.form-group .invalid-feedback {
  font-size: 14px; }

.main-container nav .menu-button {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .04em;
  text-decoration: none;
  padding-right: 30px;
  -webkit-transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-property: color,-webkit-transform;
  -webkit-transition-property: color,-webkit-transform;
  transition-property: transform,color;
  transition-property: transform,color,-webkit-transform;
  height: 30px; }
  .main-container nav .menu-button::after, .main-container nav .menu-button::before {
    position: absolute;
    right: 0;
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background-color: #fff;
    top: 50%;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform; }
  .main-container nav .menu-button::before {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -3px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -3px, 0); }
  .main-container nav .menu-button::after {
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 3px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, 3px, 0); }
  .main-container nav .menu-button.menu-open {
    color: #fff; }
    .main-container nav .menu-button.menu-open::after, .main-container nav .menu-button.menu-open::before {
      background-color: #fff; }
    .main-container nav .menu-button.menu-open::before {
      -webkit-transform: translate3d(0, -50%, 0) translateZ(0) rotate(-45deg);
      transform: translate3d(0, -50%, 0) translateZ(0) rotate(-45deg); }
    .main-container nav .menu-button.menu-open::after {
      -webkit-transform: translate3d(0, -50%, 0) translateZ(0) rotate(45deg);
      transform: translate3d(0, -50%, 0) translateZ(0) rotate(45deg); }

@media (min-width: 600px) {
  #navbar {
    display: inline;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    background: none;
    opacity: 1;
    z-index: 1; } }

.navbar-container {
  opacity: 0;
  height: 0;
  z-index: -1;
  position: fixed;
  transition: 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform; }

body.modal-open .menu-dark {
  background: #000;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-transition: opacity .5s linear 0.2s;
  -moz-transition: opacity .5s linear 0.2s;
  transition: opacity .5s linear 0.2s;
  opacity: 1; }
  body.modal-open .menu-dark ul {
    flex-direction: column;
    text-align: right; }
    body.modal-open .menu-dark ul li {
      padding-right: .5rem;
      padding-left: .5rem;
      border-bottom: 1px solid #505050; }
    @media (min-width: 600px) {
      body.modal-open .menu-dark ul {
        flex-direction: row;
        text-align: left; }
        body.modal-open .menu-dark ul li {
          border-bottom: none; } }

.main-container {
  box-sizing: border-box; }
  @media (max-width: 599px) {
    .main-container nav ul {
      flex-direction: row; }
      .main-container nav ul .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; } }
  .main-container .card.small {
    width: 100%; }
    @media (min-width: 900px) {
      .main-container .card.small {
        max-width: 70%;
        margin: auto; } }
    @media (min-width: 1200px) {
      .main-container .card.small {
        max-width: 60%; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJBcHAuY3NzIiwic291cmNlUm9vdCI6IiJ9*/