@import '../../scss/base/variables.scss';
@import '../../scss/mixins/mixins.scss';

.app {
  text-align: center;

  &__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  &__header {
    background: url('../../assets/img/journal.jpeg') no-repeat;
    background-size: cover;
    height: 150px;
    width:100%;
    padding: 20px;
    color: $white__color;
  }
  &__title {
    font-size: 1.85em;
    text-shadow: 0 2px 4px rgba($black__color, 0.5);
  }

  &__intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
