$darkest-purple: #16122A;
$darker-purple:  #231B42;
$dark-purple: #5644A3;
$purple: #695485;

$transparent-purple: rgba(0, 0, 0, .3);

$primary-font-color: #D9D8DE;
$secondary-font-color: #878695;


$primary-cta-color: #FC4B58;
$primary-cta-color-dark: #fc3241;
$cta-font-color: #fff;


$primary-background: #F5F6FB;
