$darkest-purple: #16122a;
$darker-purple:  #231b42;
$transparent-black: rgba(0, 0, 0, .3);

$primary-font-color: #d9d8de;
$secondary-font-color: #878695;
$error-font-color: #ff1919;

$primary-cta-color: #fc4b58;
$primary-cta-color-dark: #fc3241;
$cta-font-color: #fff;

$primary-background: #f5f6fb;
