@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin button(){
		font-size: 1rem;
		padding: 10px 25px;
		border-radius: 25px;
		text-transform: uppercase;
		color: $cta-font-color;
		background: $primary-cta-color;
		cursor: pointer;

		&:hover,
		&:active,
		&:focus {
			background: $primary-cta-color-dark;
		}
}
