@import '../../style.less';
.new-task {
  input {
    border  : @cold 1px solid;
    padding : @small-padding;
    font-size: 25px;
    height  : 40px;
    width   : calc(~"100% - 11px");
  }

  button {
    background : @night;
    border     : none;
    color      : #fff;
    cursor     : pointer;
    height     : 40px;
    width      : 45px;
  }
}
