.task-list-table{
	thead{
		tr{
			th{
				font-size: 1em;
				background-color: $theme-color;
				color:#fff;
			}
		}
	}
	tbody{
		height: 10em;
		overflow: scroll;
		tr{
			&:nth-child(odd){
				background-color: #f7f4f4,
			}
			&:nth-child(even){
				background-color: #fff;
			}
			td{
				&:nth-child(2){
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				button{
					font-size: 0.7em;
					overflow: hidden;
					background-color:$theme-color;
					border-radius: 5px;
					color: #fff;					
				}
			}
		}
	}
}

.text-area{
	height:100px;
	width:500px;
	word-break: break-word;
}

.no-item{
	h3{
		color: $theme-color;
	}
}