@import 'src/styles/base/colors.scss';
@import 'src/styles/base/container.scss';
@import 'src/styles/base/medias.scss';

.task-creator {
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  margin: 20px;
  padding: $padding-big $padding-medium;
  position: relative;

  @media #{$phone} {
    border-radius: 0;
    width: 100%;
  }

  @media #{$tablet} {
    border-radius: 5px;
    width: 50%;
  }
}
