.layout {
  background-image: url(./bg.jpg);
  font-family: 'Montserrat', sans-serif;
  min-height: 768px;
}

.layout-container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  padding-top: 100px;
}