.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.625rem;

  &-info-section h2 {
    margin: 0;
  }

  .delete-btn {
    font-size: 2rem;
    color: red;
    cursor: pointer;
    z-index: 999;
  }
}
