@textBaseColor: #9b9b9b;
@backgroundBaseColor: #9b9b9b;
@backgroundButtonBaseColor: #337ab7;

@formTitleColor: grey;
@formButtonColor: grey;
@formInputColor: grey;

@baseFontSize: 1.5rem;
@baseErrorTextColor: red;

.btn {
  width: 6.25rem;
  height: 3.125rem;
  font-size: @baseFontSize;
  border-radius: 0.3125rem;
  cursor: pointer;
}

input[type='text'] {
  outline-width: 0;
}
