button
  width: 70px
  background-color: $color-brown-dark
  display: block
  margin: 1em auto
  color: $color-white-light
  font-size: 1.1em
  font-weight: 900
  outline: none
  border-radius: 18px
  padding: .5em
  border: 1px solid $color-white-dark
  cursor: pointer
  transition: .5s
  -webkit-transition: .5s
  -o-transition: .5s
  &:hover
    cursor: pointer
    background-color: $color-orange-dark
    border: 1px solid $color-orange-dark
      



@media screen and (min-width: 800px)
  button
    width: 20%