input 
  width: 80%
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  color: $color-brown-dark
  font-size: 1.1em
  border-radius: 20px
  padding: .5em
  outline: none
  border: 2px solid $color-brown-light 
  transition: .7s
  &:focus
    background-color: $color-white-dark
    border: 2px solid $color-brown-dark
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &:placeholder
    color: $color-brown-light