@import '../../style.less';
#app-container {
  background : @light;
  .header {
    background : @primary;
    padding    : @large-padding 0 0;
    text-align: center;
    .header-title {
      color : @cold;
      display : inline-block;
      padding-bottom: @large-padding;
    }
  }
}
