
$breakpoint-tablet: 768px;

.todoHeaderContainer{
    background-color: #323341;
    padding: 20px 12px;
    position: fixed;
    top: 0px;
    width: 100vw;
    box-shadow: 0px 1px 9px #000000b3;
    box-sizing: border-box;


    .todoHeaderInfo{
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        margin: 15px 3px;
    }

    form{
        display:flex;
        flex-direction:row;
    }

    input{
        width: 100%;
        height: 35px;
        font-size: 15px;
        border: none;
        border-top-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 0px;
        padding: 0px 10px;
        max-width: 820px;
    }

    button{
        height: 35px;
        padding: 2px 10px;
        width: 70px;
        border-top-left-radius: 0px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 2px;
        margin-top: 0px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color: #6eb77e;
        border-color: #6eb77e;
        color: #fff;
    }
}

@media only screen and (min-width: $breakpoint-tablet) {
    .todoHeaderContainer{
        padding: 55px 30px;
        .todoHeaderInfo{
            font-size: 25px;
            margin: 10px 0px;
        }

        input{
            height: 45px;
        }

        button{
            height: 45px;
        }
    }
} 