#MainContainer{
	.container{
		h1 {
			color: #083A58;
			font-size: 52px; 
			font-weight: 800; 
			line-height: 72px; 
			margin: 0 0 24px; 
			text-align: center; 
			text-transform: uppercase;
		}
	}
}