@import 'src/styles/base/colors.scss';
@import 'src/styles/base/container.scss';

.task-item {
  border-bottom: 1px solid lighten($black, 50%);
  display: flex;
  flex: 1;
  font-family: sans-serif;
  list-style-type: none;
  padding: $padding-small;
  position: relative;

  &:first-child {
    border-bottom: 0;
  }
}
