.task {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    background-color: @background-color;
    .border-radius(5px);
    .box-shadow(0 2px 6px 0 hsla(0, 0%, 0%, 0.2));
    .task-header {
        .display-flex();
        .box-align(top);
        padding: 10px 20px;
        background-color: hsl(0, 0%, 97%);
        h4 {
            margin-right: auto;
        }
    }
    .task-body {
        padding: 20px;
    }
    svg {
        visibility: hidden;
    }
    &:hover svg {
        visibility: visible;
    }
    .responsive(@mobile-tablet-size, {
        svg {
            visibility: visible;
        }
    });
}