{
  "parser": "babel-eslint",
  "extends": [
    "travix/base",
    "travix/react",
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
  },
  "rules": {
    "react/jsx-no-bind": "off",
  }
}
