@import '~travix-ui-kit/dist/theme.css';
@import '~travix-ui-kit/dist/ui-bundle.css';

.nav {
  margin: 30px 0 20px 0;
}

.page-todo-edit form {
  margin-top: 40px;
}

.spinnerContainer {
  margin: 50vh auto;
  width: 75px;
}