input,
textarea {
    border: solid 1px #ddd;
    border-radius: 3px;
    padding: 3px;
    padding: .5em;
    width: 100%;
    font-size: inherit;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}