.row-columns {
	-moz-column-width: 23em;
	-webkit-column-width: 23em;
	column-width: 23em;
    -moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
}

.row-columns > div {
    display: inline-block;
    width: 100%;
}