@custom-media --x-small-viewport (min-width : 480px);

@custom-media --small-viewport (min-width : 768px);

@custom-media --medium-viewport (min-width : 992px);

@custom-media --large-viewport (min-width : 1200px);
