@import "../_variables.scss";

.task__deleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  
  svg {
    fill: $font-color;
  }
  
  &:active svg,
  &:hover svg {
    fill: $font-color-dark;
  }
}

@media (min-width: $breakpoint) {
  .task__deleteButton {
    opacity: 0;
    transition: opacity $transitions-timing linear;
    
    @at-root .task:hover & {
      opacity: 1;
    }
  }
}