.task__deleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  
  svg {
    fill: #888;
  }
  
  &:active svg,
  &:hover svg {
    fill: darken(#888, 20%);
  }
}

@media (min-width: 1024px) {
  .task__deleteButton {
    opacity: 0;
    transition: opacity 100ms linear;
    
    @at-root .task:hover & {
      opacity: 1;
    }
  }
}