.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input {
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ddd;
  outline: none;
}

.input::placeholder {
  text-transform: capitalize;
}

.textarea {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  min-height: 150px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ddd;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 8px;
  padding: 8px 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-transform: capitalize;
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}