.header {
  display: flex;
  padding: 8px 0 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.container {
  composes: container from './main.css';
}

.filter,
.add {
  flex: 1 0 20%;
}

.filter {
  display: flex;
  justify-content: flex-end;
}