@import "../_variables.scss";

$emoticon-size: 132px;
$emoticon-half-size: $emoticon-size / 2;

.noResults {
  &.card {
    padding-bottom: 3rem;
    margin: 2rem auto;
    text-align: center;
    max-width: $elements-max-width;
  }

  &__emoticon {
    background-image: linear-gradient($travix-blue, $travix-green);
    display: block;
    width: $emoticon-size;
    height: $emoticon-size;
    border-radius: 100%;
    position: relative;
    margin: 2rem auto;
    
    svg {
      width: $emoticon-half-size;
      height: $emoticon-half-size;
      position: absolute;
      top: ($emoticon-size - $emoticon-half-size) / 2;
      left: ($emoticon-size - $emoticon-half-size) / 2;
    }
  }
}