.input {
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.input::placeholder {
  text-transform: capitalize;
}

.textarea {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  min-height: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border-radius: 2px;
  border: 1px solid #ddd;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  text-transform: capitalize;
}

.new-subtask {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.no-margin-input {
  composes: input;
  margin: 0;
}

.new-tag {
  display: flex;
  flex-wrap: nowrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}

.tag {
  margin: 2px;
  padding: 4px;
  background-color: #ddd;
  cursor: pointer;
}