.content {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  display: flex;
  padding: 0 8px;
  border-right: 2px solid #000;
}

.body {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.title {
  composes: text;
  margin-bottom: 16px;
  font-weight: 600;
}

.description {
  composes: text;
}