.todo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(69, 69, 69, 0.41);
  cursor: pointer;
  opacity: .8;
}

.todo:hover {
  opacity: 1;
  transition: .3s;
}

.todo-done {
  composes: todo;
  background-color: rgba(0, 255, 0, .1);
}

.body {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.icon {
  padding: 4px;
  font-size: 16px;
}

.delete {
  composes: icon;
  margin-right: 8px;
  font-size: 16px;
  cursor: pointer;
}

.title {
  margin: 0;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
  border: none;
  background-color: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  margin: 0;
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  height: auto;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}