@white:  #f7f7f7;
@dark-white: #e3e3e3;
@light-white: #fafafa;
@black: #202020;
@background-color: #fff;
@almost-white: #f1f1f1;
@coral-red: #dd4b39;

/**
 * Main colors
 */
@primary: @black;
@secondary: @coral-red;