// Container
@inner-width: 950px;
@mobile-tablet-size: 961px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: @font-family;
    color: @primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#page-background {
    background-color: @light-white;
}
.content {
    padding: 0 20px;
    min-height: 100vh;
    background-color: @background-color;
    border-left: 1px solid @almost-white;
    border-right: 1px solid @almost-white;
    max-width: @inner-width;
    height: 100%;
    margin: 0 auto;
    .editor {
        padding-top: 80px;
    }
}
.icons {
    height: 24px;
    cursor: pointer;
    svg {
        color: @primary;
        border-radius: 3px;
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    &:hover svg {
        background-color: rgba(0, 0, 0, 0.1);
    }
}