.button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  line-height: 1.3;
  overflow: hidden;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50px; }
  .button:hover {
    transition: all 60ms ease; }
  .button:active {
    transition: all 60ms ease; }
