@value variables: '../../variables.css';
@value font, text-color, border-color from variables;

.textarea {
  box-sizing: border-box;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  min-height: 150px;
  font: font;
  color: text-color;
  border-radius: 2px;
  border: 1px solid border-color;
  outline: none;
  resize: none;
}

.textarea::placeholder {
  text-transform: capitalize;
}