.item {
  border-bottom: 1px solid #dedede;
  padding: 1.2rem 0;

  .item__left {
    display: flex;
    align-items: center;
    flex: 0 1 15%;
    cursor: pointer;
    justify-content: center;
  }

  .item__right {
    display: flex;
    align-items: center;
    flex: 5 1 85%;
  }

  .item__right__left {
    flex: 4 1 80%;
  }

  .item__right__right {
    display: flex;
    flex: 2 1 40%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
