.titleContainer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #1C2331; */
    background-color: #343A40;
    margin-bottom:1rem;
}
  
.title {
    display: flex;
    color:white;
    font-size: 3rem;
}

@media (max-width: 575.98px) {
    .title {
        font-size: 2rem;
    }
}

@media (max-height: 720px) {
    .title {
        font-size: 2rem;
    }
}