.cell-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-decoration: inherit;
}

.cell-text-data {
    width: 205px;
    height: 30px;
    margin-bottom: 0rem;
    cursor: pointer;
    text-decoration: inherit;
}

.action-text {
    text-align: center;
    vertical-align: middle !important;
}

.action-text > svg {
    cursor: pointer;
}

tr .fa-icon {
    /* display: none; */
    opacity: 0;
}

tr:hover .fa-icon {
    /* display: block; */
    opacity: 1;
}

.action-text > div > svg:hover {
    transform: scale(1.3);
}

.taskContainer {
    border:1px solid darkgray;
    margin:0.5rem;
    padding:1rem;
    display: flex;
}

.taskHeading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color:#CCCCC7;
}