@import '../../css/colors.scss';

.todolist {
  padding: 0;
  margin: 0;
  color: $white;

  &-item {
    padding: 0.75rem 0;
    list-style: none;
    clear: both;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    & + & {
      border-top: 0.0625rem solid rgba($white, .1);
    }

    &-complete,
    &-content,
    &-remove {
      display: inline-block;
      vertical-align: top;
    }

    &-content {
      width: calc(100% - 6rem);
    }

    &-complete,
    &-remove {
      width: 2rem;

      &-button {
        width: 2rem;
        height: 2rem;
        line-height: 1;
        background-color: $purple;
        border: 0.125rem solid $pink;
        border-radius: 3.75rem;
        opacity: .5;
        transition: all .1s ease-in-out;

        &:hover,
        &:focus {
          background-color: $pink;
          opacity: 1;
        }
      }
    }

    &-complete {
      margin-right: 1rem;

      &-button {
        font-size: 0.75rem;
        background-color: $purple;
        border: 0.125rem solid $pink;
        border-radius: 3.75rem;
        opacity: 0.5;
      }
    }

    &-remove {
      float: right;
      margin-left: 1rem;

      &-button {
        font-size: 1.5rem;
        color: $white;
        border-color: transparent;

        &:hover,
        &:focus {
          color: $white;
        }
      }
    }

    &-name {
      margin: 0 0 0.3125rem;
      font-size: 1rem;
    }

    &-desc {
      margin: 0;
      font-size: 0.875rem;
    }
  }
}
