.todolist {
  padding: 0;
  margin: 0;
  color: #FFFFFF; }
  .todolist-item {
    padding: 0.75rem 0;
    list-style: none;
    clear: both; }
    .todolist-item:first-child {
      padding-top: 0; }
    .todolist-item:last-child {
      padding-bottom: 0; }
    .todolist-item + .todolist-item {
      border-top: 0.0625rem solid rgba(255, 255, 255, 0.1); }
    .todolist-item-complete, .todolist-item-content, .todolist-item-remove {
      display: inline-block;
      vertical-align: top; }
    .todolist-item-content {
      width: calc(100% - 6rem); }
    .todolist-item-complete, .todolist-item-remove {
      width: 2rem; }
      .todolist-item-complete-button, .todolist-item-remove-button {
        padding: 0;
        width: 2rem;
        height: 2rem;
        font-size: 0.8125rem;
        line-height: 1;
        color: #FFFFFF;
        background-color: #3848AA;
        border: 0.125rem solid #F24D67;
        border-radius: 3.75rem;
        opacity: .5;
        transition: all .1s ease-in-out; }
        .todolist-item-complete-button > .glyphicon, .todolist-item-remove-button > .glyphicon {
          top: 0; }
        .todolist-item-complete-button:hover, .todolist-item-complete-button:focus, .todolist-item-complete-button-marked, .todolist-item-remove-button:hover, .todolist-item-remove-button:focus, .todolist-item-remove-button-marked {
          background-color: #F24D67;
          opacity: 1;
          transform: scale(1.25); }
        .todolist-item-complete-button-unmarked, .todolist-item-complete-button-unmarked:focus, .todolist-item-remove-button-unmarked, .todolist-item-remove-button-unmarked:focus {
          background-color: #3848AA;
          opacity: .5;
          transform: scale(1); }
    .todolist-item-complete {
      margin-right: 1rem; }
    .todolist-item-remove {
      float: right;
      margin-left: 1rem; }
      .todolist-item-remove-button {
        border-color: transparent; }
        .todolist-item-remove-button:hover, .todolist-item-remove-button:focus {
          color: #FFFFFF; }
    .todolist-item-name {
      margin: 0 0 0.3125rem;
      font-size: 1rem; }
    .todolist-item-desc {
      margin: 0;
      font-size: 0.875rem; }
  .todolist-load-more {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto 1.875rem;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #3848AA;
    border: 0.0625rem solid #3848AA;
    border-bottom: 0.1875rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.14); }
