@import '../../../scss/vars.scss';
.Input {
  background-color: $orange;
  width: 80%;
  min-height: 30px;
  font-size: 1rem;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 15px auto;
  border-radius: 1rem;
  border: none;
  color: black;
  outline: none;
}