@value variables: '../../variables.css';
@value font, text-color, border-color from variables;

.input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px;
  font: font;
  color: text-color;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid border-color;
  outline: none;
}

.input::placeholder {
  text-transform: capitalize;
}