.container {
    display: flex;
    padding-left: 1rem;
}

.content {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    input{
        display: inline-block;
        width: 100%;
        line-height: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        text-indent: 5px;
        border-width: 1px;
        border-color: rgba(0, 0, 0, .1);
        border-radius: 3px;

        &::placeholder{
            color: rgba(0, 0, 0, .1);
        }
    }
}