@import '../../common/styles/index';

.todo-form {
  margin-bottom: 0.625rem;

  .form-input-wrapper {
    margin-top: 0.625rem;
  }

  .submit-form-btn {
    .btn;
    background-color: @backgroundButtonBaseColor;
    color: white;
    margin-top: 0.625rem;
  }

  label,
  input[type='text'] {
    font-size: @baseFontSize;
  }
}
