.wrapper {
  width: 100%;
  max-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 50px auto;
}

.title {
  font-size: 24px;
  line-height: 36px;
  padding: 16px;
  border-bottom: 1px solid #EEE;
  margin: 0;
}