@import url("https://fonts.googleapis.com/css?family=Muli:300|Varela+Round");
@import "./_variables.scss";
@import "./components/App.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $background-dark;
}

.card {
  display: block;
  width: 100%;
  max-width: $elements-max-width;
  border-radius: .5rem;
  background-color: $background-light;
  border: none;
  margin: .5rem auto;
  font-size: 1rem;
  font-weight: 300;
  color: $font-color;
  padding: 1rem 3rem;
  position: relative;
  
  &__title {
    font-family: $font-family-secondary;
    color: $travix-blue;
    font-size: 1.5rem;
  }
  
  &__description {
    margin-bottom: 0;
  }
}

@media (min-width: $breakpoint) {
  .card {
    max-width: none;
  }
}