$shadow-color: rgba(8, 31, 44, 0.12);
$button-primary-color: #224dff;
$button-hover-color: #0b2fc4;
$border-color: #c8e1ff;
$icon-color: rgba(18, 67, 138, 0.2);
$icon-hover-color: #85ccff;
$border-dark-color: rgba(18, 67, 138, 0.7);

$body-text-color: #090f29;
$main-bg-color: #f7faff;
