$shadow-color: rgba(8, 31, 44, 0.12);
$button-primary-color: #224dff;
$button-hover-color: #0b2fc4;
$border-color: #c8e1ff;
$icon-color: rgba(18, 67, 138, 0.2);
$icon-hover-color: #85ccff;
$border-dark-color: rgba(18, 67, 138, 0.7);
$success-color: #45c42d;
$error-color: #ff5267;

$body-text-color: #090f29;
$main-color: #f7faff;
$main-dark-color: rgba(133, 204, 255, 0.15);
