#container
  background-color: $color-white-light
  width: 90%
  margin: 1.5em auto
  border-radius: 20px
  padding-bottom: 2em
  transition: .5s
  -webkit-box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.35)
  -moz-box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.35)
  box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.35)

@media screen and (min-width: 1024px)
  #container
    width: 960px