@import './variables.scss';

html {
  height: 100%;
}

body {
  height: 3000px;
  background-attachment: scroll;
  background: $dominant-bg-color; /* fallback for old browsers */
  background: $bg-color;
}

* {
  color: $font-color-light;
}
