$grid-gutter-width-base: 30px;
$body-background-color: #f1eeee;



$grid-gutter-widths: ( xs: $grid-gutter-width-base, 
    sm: $grid-gutter-width-base, 
    md: $grid-gutter-width-base + 10, 
    lg: $grid-gutter-width-base + 20, 
    xl: $grid-gutter-width-base + 30
);



@media screen and (min-width: 1080px) {
  .container-fluid.custom-container {
    padding: 0px 150px;
  }
}

body{
    background-color: $body-background-color;
    padding-top: 20px;
}

.bg-info {
    background-color: #98ced7!important;
    padding: 5px;
    margin:5px;
    border: 2px solid #4c4c4c;
    border-radius: 10px;
}

.btn-min-width {
    width: 110px;
}

.btn-small-width {
    width: 80px;
}

