$dominant-bg-color: #1488cc;
$bg-color: linear-gradient(to top, #1488cc, #2b32b2);

$font-color-light: #ffffff;
$font-color-medium: #e0e0e0;

$responsive-small-device: 600px;

$taskcolors: red, orange, gray, green, blue, purple;