.Button {
  font-family: 'Khand';
  height: 45px;
  line-height: 41px;
  margin-bottom: 3px;
  padding: 0 24px 0 27px;
  font-size: 22px;
  background-color: #005fbb;
  border-radius: 5px;
  box-shadow: 0 3px #45619d, -5px 8px rgba(0, 0, 0, .15);
  color: #fff;
  cursor: pointer;
}