#root * {
  box-sizing: border-box;
}
 /* to make the application of full height. */
 #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// give main full available height.
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

span.help-text {
  font-size: 11px;
  margin-left: 10px;
  font-weight: normal;
  color: #2b3a35;
}

.disable-events {
  pointer-events: none;
  opacity: 0.5
}
.relative {
  position: relative;
}