footer {
  background: $background-color;
  color: $font-color;
  height: $footer-height;
  line-height: $footer-height;
  font-size: $footer-font-size;
  text-align: center;
  border-top: 1px solid $font-color;
  a {
    color: $font-color;
  }
}