.link {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 5px 8px;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.button {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 5px 8px;
  color: #000;
  background-color: #fff;
  font-size: 1rem;
}

.link:hover,
.button:hover {
  border: 1px solid rgb(74, 35, 214);
  color: rgb(74, 35, 214);
  box-shadow: 2px 2px rgb(102, 75, 199);
  cursor: pointer;
}
