$color-primary: #2CEA9F;
$color-app-bg: #ffffff;
$color-body-bg: #F5F5FE;
$color-body-text: #c9c9db;
$color-primary: #24DB9B;
$color-accent: #5B68F9;
$color-text: #312f35;
$color-secondary-text: #a1a3a5;