// *** Variables ***

// Colors
@primary : #1AC8ED;
@night   : #070600;
@light   : #F4F4F8;
@snow    : #FFF;
@cold    : #363B40;
@cake    : #EA526F;

// Size
@max-width      : 1200px;

// Padding & Margin
@medium-padding : 10px;
@medium-margin  : 15px;
@small-padding  : 5px;
@large-padding  : 40px;
@small-margin   : 5px;
@large-margin   : 20px;

// media queries
@full-screen : 1023px;
@tablet      : 767px;
@mobile      : 558px;

body {
  margin      : 0;
  font-family : helvetica;
  overflow-x  : hidden;
  background  : @light;
}

.page-container {
  max-width  : 1300px;
  height     : 100vh;
  margin     : 0 auto!important;
}

.start {
  text-align : left;
}

.center {
  text-align : center;
}

.end {
  text-align : right;
}
