.ellipsis, .task-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.task-description {
  color: #545454;
  flex: 1;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3; }
