.task-list {
  background-color: rgba(255, 255, 255, 0.7);
  flex: 1; }
  @media only screen and (min-width: 481px) {
    .task-list {
      border-radius: 0;
      width: 100%; } }
  @media only screen and (min-width: 961px) {
    .task-list {
      border-radius: 5px;
      width: 50%; } }
