.task__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.task__form__content {
   display: flex;
   flex-direction: column;
   width: 100%;
}

  .task__form__content > input {
    height: 30px;
    margin-bottom: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline-color: #f3f3f3;
  }

  .task__form__content > div {
    height: 30px;
    margin-bottom: 16px;
  }

.task__form__buttons {
  display: flex;
   flex-direction: row;
}