$grey: #595959;
$grey-light: #d9d9d9;
$primary: #11e6d3;
$primary-hover: #00bec1;
$secondary: #00FFCC;
$secondary-hover: #01f1c1;

$break-xs: 600px;
$break-s: 900px;
$break-m: 900px;
$break-l: 1200px;
$break-xl: 1800px;
