@import "theme.scss";

.drawer {
  position: fixed;
  top: 0;
  left: -999999px;
  width: 100vw;
  height: 100vh;
  z-index: map-get($zindex, "drawer") - 1;

  transition: left map-get($durations, "instant")
    map-get($durations, "leaveWaiting");

  &_open {
    left: 0;
    transition: left map-get($durations, "instant");

    .drawer__overlay {
      opacity: 1;
      transition: opacity map-get($durations, "enteringScreen");
    }

    .drawer__container {
      transform: translateX(0);
      transition: transform map-get($durations, "enteringScreen");
    }
  }

  &__close-icon {
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(9, 30, 66, 0.86);

    opacity: 0;
    transition: opacity map-get($durations, "leavingScreen");
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: map-get($zindex, "drawer");
    height: 100vh;
    min-width: spacing(80);
    padding: spacing(6) spacing(4);
    background-color: white;
    box-shadow: map-get($shadows, "large");

    transform: translateX(150%);
    transition: transform map-get($durations, "leavingScreen");
  }
}

.form {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: spacing(6);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
