.taskContainer {
  background: #fff;
  box-shadow: 0 1px 5px $shadow-color;
  margin: 10px;
}

.task {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 300px;
  height: 210px;
}

.title {
  margin-block-end: 10px;
  overflow-wrap: break-word;
}

.description {
  margin: 0;
  overflow: hidden;
  overflow-wrap: break-word;
}

.iconButton {
  display: inline-block;
  padding: 4px;
  border: 0;
  outline: 0;
  margin-left: 10px;

  &:hover {
    svg {
      fill: $icon-hover-color;
    }
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  background-color: #fff;
  border-top: 1px dashed $border-color;
}
